@{
    ViewData["Title"] = "Moderator";
}
<partial name="~/views/Shared/Moderator/_ModeratorNavbar.cshtml"/>

<h3>Moderator-Panel</h3>
<p><em>Click links in navbar above to see flagged content in need of moderation.</em></p>


