@{
    ViewData["Title"] = "Reply to comment";
}
@model Budget_CoolBooks.ViewModels.ModeratorViewModel
<link rel="stylesheet" href="~/css/adminview.css" asp-append-version="true" />

<partial name="~/views/Shared/Moderator/_ModeratorNavbar.cshtml" />

<div class="">
    <h1 class="fs-2 text-black">Replies to comments to moderate</h1>
</div>

<table class="table table-striped caption-top">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Nr of Flags
            </th>
            <th>
                Setting
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reply in Model.Replies)
        {
            <tr>
                <td>
                    @reply.User.UserName
                </td>
                <td>
                    @reply.Comment.Id
                </td>
                <td>
                    @reply.Flag
                </td>
                <td>
                    <div class="admin-settings">
                        <a asp-controller="Moderator" asp-action="AuditReplies" asp-route-id="@reply.Id"
                       class="btn btn-sm btn-outline-primary me-2">
                            Audit
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

