@model Budget_CoolBooks.Models.Genre

@{
    Layout = "/Views/Shared/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Genres | Delete Genre";

}

<!-- Breadcrumb -->
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Genres" asp-action="Index">Genres</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete genre</li>
    </ol>
</nav>
<hr />
<div>
    <p class="fs-3 text-warning">
        Are you sure you want to delete @Html.DisplayFor(model => model.Name) genre?
    </p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Yes" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary ms-1">No</a>
    </form>
</div>
