@{
    ViewData["Title"] = "Comments";
}
@model Budget_CoolBooks.ViewModels.ModeratorViewModel
<link rel="stylesheet" href="~/css/moderatorview.css" asp-append-version="true" />

<div class="moderator-titles">
    <h1 class="fs-2 text-black">Comments to moderate</h1>
</div>

<table class="table table-striped caption-top">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                User
            </th>
            <th>
                Nr of Flags
            </th>
            <th>
                Setting
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td>
                    @comment.User.UserName
                </td>
                <td>
                    @comment.Review.
                </td>
                <td>
                    @comment.Flag
                </td>
                <td>
                    <div class="moderator-settings">
                        <a asp-controller="Moderator" asp-action="AuditComments" asp-route-id="@comment.Id"
                            class="btn btn-sm btn-outline-primary me-2">
                            Audit
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>