@{
    ViewData["Title"] = "Feature Books";
}
<link rel="stylesheet" href="~/css/homeindex.css" asp-append-version="true" />

@foreach (var book in (List<Book>)ViewBag.BookList)
{
    <h2 style="text-align: center;">FEATURE BOOKS</h2>
    <div id="slider">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        <div id="slides">
            <div id="overflow">
                <div class="inner">
                    <div class="slide slide_1">
                        <div class="slide-content">
                            <h2>@book.Title</h2>
                            <p><img src=@book.Imagepath alt=@book.Title style="width: 45%; margin-right: auto; margin-left: auto;" /></p>
                        </div>
                    </div>
                    <div class="slide slide_2">
                        <div class="slide-content">
                            <h2>@book.Title</h2>
                            <p><img src=@book.Imagepath alt=@book.Title style="width: 45%; margin-right: auto; margin-left: auto;" /></p>
                        </div>
                    </div>
                    <div class="slide slide_3">
                        <div class="slide-content">
                            <h2>@book.Title</h2>
                            <p><img src=@book.Imagepath alt=@book.Title style="width: 45%; margin-right: auto; margin-left: auto;" /></p>
                        </div>
                    </div>
                    <div class="slide slide_4">
                        <div class="slide-content">
                            <h2>@book.Title</h2>
                            <p><img src=@book.Imagepath alt=@book.Title style="width: 45%; margin-right: auto; margin-left: auto;" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
        <div id="bullets">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>
    break;
}