<div class="footercontent">
    <div class="footerinfobox">
        <h3>Company</h3>
        <p>We provide a review service of books and the ability to submit books to be reviewed. Make sure to swipe the right way on tinder!</p>
    </div>
    <div class ="footerinfobox">
        <h3>Socials</h3>
        <a href="#"><img src="/images/facebook.png" alt="error" style="width: 40px;"></a>
        <a href="#"><img src="/images/twitter.png" alt="error" style="width: 40px;"></a>
        <a href="#"><img src="/images/instagram.jpg" alt="error" style="width: 40px;"></a>
        <a href="https://dictionary.cambridge.org/dictionary/english/get-a-life"><img src="/images/tinder.png" alt="error" style="width: 40px;"></a>
    </div>
    <div class="footerinfobox">
        <h3>Contact us</h3>
        <p>Adress: Filsbäcksvägen 13, 531 70 Lidköping</p>
        <p>Email: BudgetCoolbooks@wecare.com</p>
        <p>Tele: +46723952740</p>
    </div>
</div>