#button-details {
    display: flex;
    justify-content: center;
}
.page-title {
    text-align: center;
}

.star-active {
    color: gold;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-inactive {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px
}

.ratingstar {
    display: flex;
    justify-content: center;
}

.sorting-holder {
    display: flex;
    justify-content: space-evenly;
    
}
