html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: white;
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden;
    cursor: default;
}
.card {
    text-align: center;
    background-color: gray;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 5px solid lightgray;
    border-radius: 18px;
}
.cardreviews {
    text-align: center;
    background-color: darkgray;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 5px solid gray;
    border-radius: 26px;
    color: white;
}
.ratingGOOD {
    color: green;
    text-decoration: underline;
    padding: 1%;
    font-size: 18px;
    margin-top: 0%;
}
.ratingBAD {
    color: red;
    text-decoration: underline;
    padding: 1%;
    font-size: 18px;
    margin-top: 0%;
}
.cardtext {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 16px;
}
.LikeDislike{
    display: flex;
    margin-top: 2%;
    justify-content: center;
}
.cardtext {
    border: 2px solid lightgray;
    border-radius: 18px;
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.flag {
    color: red; 
    text-align: center;
}
td {
    padding-bottom: 10px
}
.star-active {
    color: gold;
    margin-top: 10px;
    margin-bottom: 10px
}
.star-inactive {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px
}
.rating-label {
    font-weight: bold;
}
.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}
.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: green;
    color: white
}
.commentbox {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 18px;
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    width: 90%;
}
.replybox {
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    border-radius: 18px;
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    width: 60%;
    margin-right: 5%;
}




.bar-container {
    width: 100%;
    background-color: white;
    height: 16px;
    border: 2px ridge lightgray;
    border-radius: 20px;
    margin-bottom: 5px
}
.bar-0 {
    width: 0%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-1 {
    width: 10%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-2 {
    width: 20%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-3 {
    width: 30%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-4 {
    width: 40%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-5 {
    width: 50%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-6 {
    width: 60%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-7 {
    width: 70%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-8 {
    width: 80%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-9 {
    width: 90%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}
.bar-10 {
    width: 100%;
    height: 13px;
    background-color: gold;
    border-radius: 20px
}