html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
    position: relative;
    min-height: 100%;
    margin-bottom: 20%;
}
.page-title {
    margin-top: 2em;
    margin-bottom: 1em;
}
@media only screen and (min-width: 801px) {
    .footercontent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
}
@media only screen and (max-width: 800px) {
    .footercontent {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}
footer {
    max-height: 0%;
    padding: 50px;
    cursor: default;
    position: absolute;
    bottom: -50px;
    margin-top: 2%;
}
h3{
    padding-bottom: 5%;
}
.footerinfobox{
    padding-bottom: 5%;
}
#sort-dropdown {
}

.sorting-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 2em;
}

#filter-dropdown {
    margin-left: 2em;
}

.filter-button {
    border: none;
    background: none;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#moderator-link {
    justify-content: right;
    align-text: right;
}